<!DOCTYPE html>
<html lang="en">

<head th:replace="~{base :: head}"></head>

<body>
    <div class="container">

        <div th:replace="~{base :: header}"></div>

        <div th:replace="~{base :: navbar}"></div>

        <div th:if="${#lists.isEmpty(contatos)}" class="d-flex justify-content-center ">
            <div class="alert alert-secondary border-0" role="alert">
                Ainda não há contatos salvos! :(
            </div>
        </div>

        <div th:else>
            <div th:each="contato : ${contatos}">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <div class="mt-1" th:text="${contato.nome}">Nome do Contato</div>
                        <div class="d-flex">
                            <a th:href="'/contatos/editar/' + ${contato.id}">
                                <button class="btn btn-outline-primary me-1">Editar</button>
                            </a>
                            <form th:action="'/contatos/excluir/' + ${contato.id}" method="post">
                                <button class="btn btn-outline-danger" type="submit">Excluir</button>
                            </form>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Email: </b><span th:text="${contato.email}"></span></li>
                        <li class="list-group-item"><b>Telefone 1: </b><span th:text="${contato.telefone1}"></span></li>
                        <li class="list-group-item"><b>Telefone 2: </b><span th:text="${contato.telefone2}"></span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</body>

</html>